/*Font import from Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

/*General styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kode Mono", monospace;
    font-weight: 900;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic styles*/
    background-color: #242748;
    color: #cda716;
}

/*Header*/
    header {
        background-color: #cda716;
        color: #242748;
        width: 100%;
        position: fixed;
        padding: 0 10vh;
        font-size: 120%;
        z-index: 99;
        letter-spacing: 3px;
        flex: 1;
        display: flex;
    }

    /*Logo*/
    .logo-img {
        max-height: 30vh;
        align-self: center;
    }

    .logo-text {
        color: #242748;
        text-decoration: none;
    }

    /*Nav bar*/
    .nav-bar {
        list-style-type: none;
        text-transform: uppercase;
    }
        /*Targets the active class for the current page's link*/
        .active {
            color: #55188b;
        }
        /*Adds moon icon next to active link*/
        .active::marker {
            font: var(--fa-font-regular);
            content: "\f186";
            display: inline-block;
        }

        