/*Font import from Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

/*General styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kode Mono", monospace;
    font-weight: 900;
    list-style-type: none;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /*Generic styles*/
    background-color: #1a1d3f;
    color: #c79306;
}

/*Header*/
    header {
        color: #c79306;
        width: 100%;
        z-index: 99;
        position: absolute;
        padding: 0 1rem 3rem;
        font-size: 140%;
        letter-spacing: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        /*Creates crescent moon shaped border below the header*/
        background-color: #1a1d3f;
        border-bottom: 3rem solid #c79306;
        border-radius: 0 0 60% 60%;
    }

    header a {
        text-decoration: none;
        color: #c79306;
    }

    /*Navigation*/
        /*Toggle*/
        #nav-toggle {
            display: none;
        }

        /*Adds background to the nav bar when toggled*/   
        #nav-toggle:checked~.nav-bar {
            display: grid;
            justify-content: start;
            width: 100%;
            height: 100%;
            top: 0;
            z-index: 99;
        }

        #nav-toggle:checked~#nav-icon {
            position: absolute;
            background: rgba(36, 39, 72, 0.9);
            width: 100%;
            height: 100vh;
        }

        /*Fixes the display of the nav blocks in the expanded menu*/
        #nav-toggle:checked~.left-nav {
            position: fixed;
            order: 1;
            top: 6rem;
            align-content: start;
        }

        #nav-toggle:checked~.right-nav {
            order: 2;
            align-content: start;
            position: fixed;
            top: 11rem;
        }

        /*Styles hamburger icon*/
        #nav-icon {
            font-size: 2rem;
            padding: 0 2rem;
            z-index: 99;
            position: absolute;
            left: 0;
            top: 5%;
        }

        /*Logo*/
        .logo {
            order: 2;
            /*Flex properties to stack image and text on small screens*/
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .logo-img {
            height: auto;
            width: 50%;
            max-width: 200px;
            padding-top: 1rem;
            position: relative;
        }

        .logo-text {
            color: #c79306;
            text-decoration: none;
            font-size: calc(17px + 3vw);
        }

        /*Nav bar*/
        nav {
            display: none;
        }

        nav li:hover {
            transform: scale(1.2);
        }

        .nav-bar ul {
            list-style-type: none;
            text-transform: uppercase;
            padding: 1.5rem;
        }
            /*Targets the active class for the current page's link*/
            .active {
                color: #a80cc4;
                text-decoration: underline;
            }

            /*Adds moon icon next to active link*/
            .active::marker {
                font: var(--fa-font-regular);
                content: "\f186";
                right: -2px;
            }

            /*Reduces space between marker and active link*/
            .nav-bar li {
                padding: 0 1.5rem 0 0;
            }

/*Main content*/
main {
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* Make main element take surplus space (instead of shrink) to push footer down */
    flex: 1 0 auto;
    margin-top: calc(50px + 20vh);
    width: 100%;
}

    /*Style business introduction*/
    #intro {
        border: 1px solid #c79306;
        border-radius: 20%;
        position: relative;
        padding: 2rem;
        position: relative;
    }

    #hero {  
        position: absolute;
        top: 153px;
        flex: 1 0 auto;
        z-index: 0;
    }
    #hero img {
        height: 100%;
        width: 100%;
    }

/*Footer*/
footer {
    display: flex;
    position: relataive;
    background-color: #c79306;
    color: #1a1d3f;
    /*Flex properties to space out footer content*/
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

    /*Business Address*/
    #address {
        order: 1;
    }

    /*Opening hours*/
    #opening-hours {
        order: 3;
    }

    /*Social icons and bottom logo*/
    #branding {
        order: 2;
        padding: 20px 0;
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
        text-align: center;
        flex-direction: column;
        justify-content: space-between;        
    }

    #social-networks {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #social-networks i {
        font-size: 160%;
        padding: 5%;
        color: #a80cc4;
    }

/* Media query: large/landscape phones (576px and up)
@media screen and (min-width:576px) {*/

/*Media query for larger screens (1224px and up)*/
@media screen and (min-device-width:1224px) {
    /*Removes toggle button and adds expanded nav*/
    #nav-icon, #nav-toggle {
        display: none;
    }

    nav {
        display: block;
    }

    /*Add flex properties to nav elements*/
    .nav-bar ul {
        display: flex;
        flex-direction: row;
        position: relative;
    }
    /*Arranges nav links equally around logo in header*/
    .nav-bar {
        justify-content: space-evenly;
        width: fit-content;
    }

    .left-nav {
        order: 1;
    }

    .right-nav {
        order: 3;
    }
}