/*Font import from Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

/*General styles*/

body {
    background-color: #242748;
    color: #cda716;
    font-family: "Kode Mono", monospace;
    font-weight: 900;
    display: flex;
}

/*Header*/
    header {
        background-color: #cda716;
        color: #242748;
        width: 100%;
        text-align: center;
        position: fixed;
        font-size: x-large;
    }

    /*Nav bar*/
    nav ul {
        list-style-type: none;
        text-transform: capitalize;
    }

    .active {
        color: #55188b;
    }